# cd /home/pi/Q100/q100paserver/etc
# sudo cp q100paserver.service /etc/systemd/system/
# sudo chmod 644 /etc/systemd/system/q100paserver.service
# sudo systemctl daemon-reload
#
# sudo systemctl enable q100paserver
# sudo systemctl start q100paserver
#
# sudo systemctl status q100paserver
#
# sudo systemctl stop q100paserver
# sudo systemctl disable q100paserver

# rm /etc/systemd/system/*servicename
# rm /usr/lib/systemd/system/*servicename 
# sudo systemctl daemon-reload


[Unit]
Description=q100paserver to control and monitor DATV equipment
After=mult-user.target

[Service]
User=pi
Group=pi

#WorkingDirectory=/home/pi/Q100/q100paserver

Type=simple

@Restart=always
#Restart=on-failure
#RestartSec=5

#SuccessExitStatus=143

#TimeoutStopSec=10

ExecStart=/home/pi/Q100/q100paserver/q100paserver

[Install]
WantedBy=multi-user.target
